/*encajonar*/


.block-views-blockproperties-block-5, .block-views-blockproperties-block-6{
	float: left;
	width: 50%;
	padding:20px;
	
	
}

/* 

 span .views-label-body{
	padding-top: 15px;
	text-align: center;
}

 .block-views-blockproperties-block-6 span {
	
	
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
	
	color: #F44336;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
 .block-views-blockproperties-block-6 .field-content{
	padding-top: 20px;
}

 .block-views-blockproperties-block-6 .views-field{
	padding-top: 5px;
}

 .block-views-blockproperties-block-6 .views-field-field-price{
	text-align: center;
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
letter-spacing: 0.05em;

color: #626161;
}

 .block-views-blockproperties-block-6 .view-display-id-block_6{
	padding-top: 100px;
	
}
 .block-views-blockproperties-block-6 .view-display-id-block_6 div p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 25px;
	

	letter-spacing: 0.02em;

	color: #626161;
	
}

.views-field-field-total-area ,.views-field-field-bathrooms ,.views-field-field-bedrooms ,.views-field-field-parking{
	display: inline-block;
	
}

 .block-views-blockproperties-block-6 .view-display-id-block_6 .views-field:nth-child(3){
	background-color: aquamarine;
	padding-right: 15px;
	padding-left: 15px;
	
}
 .block-views-blockproperties-block-6 .view-display-id-block_6 .views-field:nth-child(4){
	background-color: aquamarine;
	padding-right: 15px;
	padding-left: 15px;
}
 .block-views-blockproperties-block-6 .view-display-id-block_6 .views-field:nth-child(5){
	background-color: aquamarine;
	padding-right: 15px;
	padding-left: 15px;
}
 .block-views-blockproperties-block-6 .view-display-id-block_6 .views-field:nth-child(6){
	background-color: aquamarine;
	padding-right: 15px;
	padding-left: 15px;
} */